*{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
header{
    background-color: antiquewhite;
    margin: 0, 0, 0, 0;
    display: flex;
    justify-content: center;
    }

header nav ul li{
    display: inline-flex;
    }
header nav ul li a{
    color: gray;
    text-align: justify;
    text-decoration: none;
    font-weight: 600;
    margin: 1em;
}

.banner-inicial img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.banner-inicial h1{
    position: relative;
}